<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
</head>
<body>

<form th:action="@{/admin/console}" method="post">
    <textarea th:name="sql">[[${sql}]]</textarea>
    <button type="submit">submit</button>
</form>
<div class="script-result">
    [[${result}]]
</div>
<table>
    <tr th:each="item: ${result}">
        <td th:each="field: ${item}">
            <span th:text="${field.value}"></span>
        </td>
    </tr>
</table>
</body>
</html>