<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin/general :: adminHeaderfiles"/>
    <title th:text="#{admin.doctor.create.page.title}">Doctor</title>
</head>
<body class="theme-light-blue">
<th:block th:insert="fragments/admin/general :: adminHeader"/>


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div id="app">

                </div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    var doctorId = /*[[${id}]]*/ 0;
    var LANG = /*[[${lang}]]*/ 'en';
</script>

<!--todo: /js/main.js if not dev mode-->
<script th:src="${true} ? 'http://localhost:8000/managerBooking.js' : '/js/main.js'"></script>


<th:block th:insert="~{fragments/admin/general :: adminFooter}"/>
</body>
</html>