<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.doctor.update.page.title}">Doctor</title>
</head>
<body>
<form th:action="@{/admin/doctor/update/{id}(id=${doctor.id})}"
      th:object="${doctor}" method="POST">
    <label th:text="#{global.first.name.label}">First Name</label>
    <input type="text" th:field="*{firstName}"/>
    <br/>
    <label th:text="#{global.fathers.name.label}">Father's Name</label>
    <input type="text" th:field="*{fathersName}"/>
    <br/>
    <label th:text="#{global.last.name.label}">Last Name</label>
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <label th:text="#{global.email.label}">Email</label>
    <input type="text" th:field="*{email}"/>
    <br/>
    <input type="submit" th:value="#{global.save.label}"/>
</form>
</body>
</html>