<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="adminHeaderfiles">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Admin panel</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/static/vendor/node-waves/waves.css" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="/static/admin/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/static/admin/css/themes/theme-light-blue.css" rel="stylesheet"/>
</head>
<body class="theme-light-blue">

<th:block th:fragment="adminHeader">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/admin">ADMIN STOMAT</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">

                </div>
                <div class="info-container">
                    <!--/*@thymesVar id="user" type="com.stomat.domain.user.UserAccount"*/-->
                    <div class="name" th:text="${user.getFullName()}">Full name</div>
                    <div class="email" th:text="${#httpServletRequest.remoteUser}"></div>
                    <div class="btn-group user-helper-dropdown">
                        <a href="/logout"><i class="material-icons">input</i></a>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="/admin">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">assignment_ind</i>
                            <span>Doctors</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/admin/doctor/list">List</a>
                            </li>
                            <li>
                                <a href="/admin/doctor/create">Create</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/admin/sms/balance}">
                            <i class="material-icons">sms</i>
                            <span>SMS</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>

</th:block>

<th:block th:fragment="adminFooter">

    <!-- Jquery Core Js -->
    <script src="/static/vendor/jquery/jquery-3.4.1.min.js"></script>

    <script src="/static/vendor/popper/popper.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>


    <!-- Select Plugin Js -->
    <script src="/static/vendor/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/static/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/static/vendor/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="/static/vendor/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="/static/vendor/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="/static/admin/js/admin.js"></script>

</th:block>

</body>
</html>