<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/auth/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../static/auth/css/main.css">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-90 p-b-30">
            <form th:action="@{/login}" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-40" th:text="#{auth.login.label}">
						Login
					</span>

                <div class="wrap-input100 validate-input m-b-16" th:data-validate="#{auth.login.email.empty}">
                    <input class="input100" type="text" name="username" th:placeholder="#{global.email.label}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-20" th:data-validate="#{auth.login.password.empty}">
						<span class="btn-show-pass">
							<i class="fa fa fa-eye"></i>
						</span>
                    <input class="input100" type="password" name="password" th:placeholder="#{user.password.label}">
                    <span th:if="${param.error}" th:text="#{auth.login.error.text}" class="alert-validate-backend"/>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit" th:text="#{auth.login.label}">
                        Login
                    </button>
                </div>

                <div class="flex-col-c p-t-100">
						<span class="txt2 p-b-10" th:text="#{auth.dont.have.account}">
							Don’t have an account?
						</span>

                    <a href="/registration" class="txt3 bo1 hov1" th:text="#{auth.registration.label}">
                        Sign up now
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../../static/auth/js/main.js"></script>

</body>
</html>