<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title}"></title>
</head>
<body>

<form th:action="@{/registration}" method="post">
    <div>
        <label th:text="#{user.first.name.label}"></label>
        <input type="text" name="firstName" th:value="${userAccountDto} ? ${userAccountDto.getFirstName()} : ''"/>
        <span th:if="${firstName}" th:text="${firstName}"/>
    </div>
    <div>
        <label th:text="#{user.last.name.label}"></label>
        <input type="text" name="lastName" th:value="${userAccountDto} ? ${userAccountDto.getLastName()} : ''"/>
        <span th:if="${lastName}" th:text="${lastName}"/>
    </div>
    <div>
        <label th:text="#{user.email.label}"></label>
        <input type="text" name="email" th:value="${userAccountDto} ? ${userAccountDto.getEmail()} : ''"/>
        <span th:if="${emailError}" th:text="${emailError}"/>
    </div>
    <div>
        <label th:text="#{user.password.label}"></label>
        <input type="password" name="password"/>
        <span th:if="${passwordError}" th:text="${passwordError}"/>
    </div>
    <div>
        <label th:text="#{user.password.repeat.label}"></label>
        <input type="password" name="repeatPassword"/>
        <span th:if="${repeatPasswordError}" th:text="${repeatPasswordError}"/>
    </div>
    <div>
        <input type="submit" th:value="#{auth.registration.label}"/>
        <a href="/login" th:text="#{auth.login.label}"></a>
    </div>
</form>

</body>
</html>