<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<form th:action="@{/account/update}"
      th:object="${user}" method="POST">
    <input type="text" hidden th:field="*{id}"/>
    First Name:
    <input type="text" th:field="*{firstName}"/>
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>