<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make an appointment</title>
    <!--todo: i18n-->
</head>
<body>

<div th:insert="~{fragments/header :: header}">...</div>

<div id="app">

</div>

<script th:inline="javascript">
    var LANG = /*[[${lang}]]*/ 'en';
</script>

<!--todo: /js/main.js if not dev mode-->
<script th:src="${true} ? 'http://localhost:8000/patientBooking.js' : '/js/patientBooking.js'"></script>
</body>
</html>